/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #0511fb;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 350px; /* Ajuste conforme necessário */
    width: 100%;
    margin-left: 1rem; /* Espaço entre a barra de pesquisa e o título */
}

input[type="text"] {
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #04bcf9;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hero, .about, .products, .contact {
    padding: 2rem 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* banner */

.foco {
    width: 100%;
    height: 200px;
    background: url("../img/design-de-modelo-de-centro-medico-desenhado-a-mao_23-2150152867.avif") no-repeat center;
    background-size: cover;
}

